@import '../base/normalize/normalize.scss';
@import '../base/swiper/swiper.min.scss';
@import '../base/flex/flex.scss';
@import '../base/fonts/iconfont.scss';
@function rem($s) {
    @return ($s/41.2)*1rem;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: "Helvetica Neue", 'Helvetica', 'Roboto', 'Arial', 'sans-serif';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: #f2f2f2;
    color: #333;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    &-wraper {
        height: 93%;
        overflow: scroll;
    }
    &-foot {
        height: 7%;
        width: 100%;
        margin: 0;
        bottom: 0;
        background-color: #F84E4E;
        box-sizing: border-box; // border-top: 2px solid #f84e4e;
        span {
            height: 100%;
            width: 30%;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            color: #f1f1f1;
            font-size: 16px;
            &.swiper-pagination-bullet-active {
                background-color: #e43840;
            }
            &::before {
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                padding-right: rem(4);
            }
        }
    }
    .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0;
    }
    &-slide {
        overflow: scroll
    }
}

.top {
    width: 100%;
    height: 7%;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 2px solid #f84e4e;
    h1 {
        margin: 0;
        padding: 0;
        line-height: 0;
    } // &-logo{
    // }
}

.nav {
    width: 100%;
    height: 5%;
    background-color: #fff;
    overflow-x: scroll;
    &-wrap {
        list-style: none;
        width: 130%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 14px;
        li {
            height: 100%;
            width: 16.6666%;
            &.cur {
                box-sizing: border-box;
                border-bottom: 1px solid #f84e4e;
            }
        }
        a {
            color: #333;
            text-decoration: none;
        }
    }
    &::-webkit-scrollbar {
        height: 0px;
    }
}

.main {
    margin-top: 2px;
    margin-bottom: rem(40);
    &-swiper {
        height: rem(160);
        text-align: center;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-post {
        width: 100%;
        list-style: none;
        margin: rem(6) 0;
        padding: 0;
        box-sizing: border-box;
        padding: 0 rem(10);
        background-color: #fff;
        &-list {
            width: 100%;
            height: rem(140);
            box-sizing: border-box;
            padding: rem(4) 0;
            border-bottom: 1px solid #f84e4e;
            a {
                color: #333;
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
            }
            &-p {
                line-height: 0;
                font-size: 14px;
            }
            &-main {
                img {
                    width: 18%;
                }
            }
            &-tips {
                font-size: 12px;
                color: #666;
                margin-top: rem(3);
                i {
                    font-style: normal;
                }
            }
        }
    }
}

.category {
    &-main {
        width: 100%;
        box-sizing: border-box;
        padding: rem(10) rem(4);
        ul {
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
        }
        &-li {
            width: 50%;
            height: rem(80);
            font-size: 14px;
            box-sizing: border-box;
            padding: 1px;
            a {
                width: 100%;
                height: 100%;
                color: #333;
                text-decoration: none;
                box-sizing: border-box;
                padding: rem(5);
                background-color: #fff;
            }
            &-pic {
                width: 30%;
                padding-right: rem(15);
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            &-p {
                font-size: 16px;
                line-height: rem(30);
                margin: 0;
            }
            &-tip {
                font-size: 12px;
                color: #999;
            }
        }
    }
}

// 详情页start
.detail {
    background-color: #fff;    
    .top {
        width: 100%;
        height: rem(50);
        box-sizing: border-box;
        padding: 0 rem(15);
        background-color: #f84e4e;
        color: #fff;
        font-size: 16px;
        &-title {
            font-size: 14px;        
            width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .main{
        box-sizing: border-box;
        padding:rem(5) rem(20);
        font-size: 14px;
        overflow: hidden;
        &-title{
            font-size: 16px;
            padding: 0;
            margin: 0;
            font-weight: normal;
            line-height: rem(28);
        }
        &-class{
            width: 100%;
            font-size: 12px;
            color: #666;
            line-height: rem(28);
            display: flex;
            justify-content: space-between;
            &-author{
                color: #f84e4e;
                padding-right: right;
            }
            &-pop{
                color: #f84e4e
            }
        }
        &-label{
            width: 100%;
            font-size: 12px;
            line-height: rem(28);
            a{
                color: #f84e4e;
                padding-right: rem(10);
            }
        }
        &-details{
            font-size: 14px;
            color: #666;
            span{
                line-height: rem(28);
            }
            img{
                display: block;
                width: 80%;
                margin: 0 auto;
            }
            p{
                font-family: "微软雅黑";
                font-weight: bold;
            }
        }
    }
}

// 详情页end